@model PralnaDemo.Models.AspNetUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AspNetUser</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserName,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordHash, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PasswordHash,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PasswordHash)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityStamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SecurityStamp,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SecurityStamp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoId, "PhotoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PhotoId", String.Empty)
                @Html.ValidationMessageFor(model => model.PhotoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PhoneNumber,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Skype, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Skype,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Skype)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Viber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Viber,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Viber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Website,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Website)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.About, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.About,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.About)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacebookProfile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FacebookProfile,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FacebookProfile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VkontakteProfile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.VkontakteProfile,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VkontakteProfile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequiresModeration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.RequiresModeration.Value)
                @Html.ValidationMessageFor(model => model.RequiresModeration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailConfirmed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.EmailConfirmed.Value)
                @Html.ValidationMessageFor(model => model.EmailConfirmed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumberConfirmed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.PhoneNumberConfirmed.Value)
                @Html.ValidationMessageFor(model => model.PhoneNumberConfirmed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TwoFactorEnabled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.TwoFactorEnabled.Value)
                @Html.ValidationMessageFor(model => model.TwoFactorEnabled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LockoutEndDateUtc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LockoutEndDateUtc,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LockoutEndDateUtc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LockoutEnabled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.LockoutEnabled.Value)
                @Html.ValidationMessageFor(model => model.LockoutEnabled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccessFailedCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AccessFailedCount,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AccessFailedCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDeleted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IsDeleted.Value)
                @Html.ValidationMessageFor(model => model.IsDeleted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserId,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaxNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TaxNumber,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TaxNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Index, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Index,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Index)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Photo,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discriminator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Discriminator,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Discriminator)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
