
@{
    ViewBag.Title = "Довідникі";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Довідникі</h2>

@Html.ActionLink("Міста", "Index", "City")<br />
@Html.ActionLink("Організації", "Index", "Organization")<br />
@Html.ActionLink("Відділи", "Index", "Division")<br />
@Html.ActionLink("Посади", "Index", "WorkPlace")<br />
@Html.ActionLink("Працівники", "Index", "Worker")<br />

@Html.ActionLink("Картки послуг", "Index", "ServiceType")<br />
@Html.ActionLink("Тип порушення", "Index", "ViolationType")<br />
@Html.ActionLink("Можливі порушення по кожній послузі", "Index", "AllowedViolation") <br />
@Html.ActionLink("Послуги (отримані або замовлені)", "Index", "ServiceToClient")<br />
@Html.ActionLink("Виявлені порушення", "Index", "FoundViolation")<br />








