@model PralnaDemo.Models.CitiesStatistic

@{
    ViewBag.Title = "Статистика по містах";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/fusioncharts")

<h2>Статистика по містах</h2>

<script>
    FusionCharts.ready(function ()
    {
        var revenueChart = new FusionCharts({
            "type": "pie3d",
            "renderAt": "chartContainer",
            "width": "500",
            "height": "300",
            "dataFormat": "json",
            "dataSource": {
                "chart": {
                    "caption": "Використання послуг",
                /*    "paletteColors": "#6495ED, #FF7F00", */
                    /*"subCaption": "За весь час",*/
                    "showPercentInTooltip": "1",
                    "useDataPlotColorForLabels": "1",                   
                    "theme": "fint"
                },
                "data": @Html.Raw(Model.GraphData)                   
            }
        });

        revenueChart.render();
    })
</script>
<table>
        <tr class="graphOuter">
            <td><div id="chartContainer"></div></td>
            <td>
                <table class="graphStat">
                    <tr class="text-primary">
                        <td>Місто</td>
                        <td class="text-right">Сервісів</td>
                    </tr>
                    @foreach (PralnaDemo.Models.CityStatistic item in Model.CitiesStats)
                    {
                        <tr>
                            <td><a href="/Statistic/City/@item.City.Id">@item.City.Name</a></td>
                            <td class="text-right">
                                @item.ServicesProvided (@PralnaDemo.Utils.StringOperations.GetPercent(Model.TotalServicesProvided, item.ServicesProvided)%)
                            </td>
                        </tr>
                    }
                    <tr class="totalRow">
                        <td>Разом</td>
                        <td class="text-right">@Model.TotalServicesProvided (100%)</td>
                    </tr>
                </table>
            </td>
        </tr>

</table>

<br />
@Html.Partial("SummaryCitiesStat", Model)

<br />
<script>
    FusionCharts.ready(function ()
    {
        var treemapChart = new FusionCharts({
            "type": "treemap",
            "renderAt": "treeMapContainer",
            "width": "700",
            "height": "500",
            "dataFormat": "json",
            "dataSource": {
                "chart": {
                    "caption": "Загальна мапа по країні",
                    "paletteColors": "#EE0000, #7FFF00",

                    "animation": "0",
                    "hideTitle": "1",					
                    "plotToolText": "<div><b>$label</b><br/> <b>Послуг: </b>$value<br/><b>Рівень незадоволеності: </b>$svalue%</div>",
                    "spacex": "0",
                    "spacey": "0",
                    "horizontalPadding": "1",
                    "verticalPadding": "1",
                    "hoveronallsiblingleaves": "1",
                    "plotborderthickness": ".5",
                    "plotbordercolor": "666666",
                    "legendpadding": "0",
                    "legendItemFontSize": "10",
                    "legendItemFontBold": "1",
                    "showLegend": "1",
                    "legendPointerWidth": "8",
                    "legenditemfontcolor": "3d5c5c",
                    "algorithm": "squarified",
               
                    "legendScaleLineThickness": "0",
                    "legendCaptionFontSize": "10",
                    "subcaption": "Рівень задоволеності по організаціям міст",
                    "legendCaption": "Фильтр по рівню незадоволеності",
                    "theme": "zune"

                  
                },
                "data": @Html.Raw(Model.TreeMapData)
            }
        });

        treemapChart.render();
    })
</script>
<div id="treeMapContainer"></div>


<br />
<script>
	FusionCharts.ready(function ()
	{
		var detailedTreemapChart = new FusionCharts({
			"type": "treemap",
			"renderAt": "detailedTreeMapContainer",
			"width": "700",
			"height": "500",
			"dataFormat": "json",
			"dataSource": {
				"chart": {
					"caption": "Загальна мапа по країні (по робітникам)",
					"paletteColors": "#EE0000, #7FFF00",

					"animation": "0",
					"hideTitle": "1",					
					"plotToolText": "<div><b>$label</b><br/> <b>Послуг: </b>$value<br/><b>Рівень незадоволеності: </b>$svalue%</div>",
					"spacex": "0",
					"spacey": "0",
					"horizontalPadding": "1",
					"verticalPadding": "1",
					"hoveronallsiblingleaves": "1",
					"plotborderthickness": ".5",
					"plotbordercolor": "666666",
					"legendpadding": "0",
					"legendItemFontSize": "10",
					"legendItemFontBold": "1",
					"showLegend": "1",
					"legendPointerWidth": "8",
					"legenditemfontcolor": "3d5c5c",
					"algorithm": "squarified",
               
					"legendScaleLineThickness": "0",
					"legendCaptionFontSize": "10",
					"subcaption": "Рівень задоволеності по організаціям міст",
					"legendCaption": "Фильтр по рівню незадоволеності",
					"theme": "zune"

                  
				},
				"data": @Html.Raw(Model.DetailedTreeMapData)
                }
        });

		detailedTreemapChart.render();
    })
</script>
<div id="detailedTreeMapContainer"></div>


@*
<div>@Html.Raw(Model.TreeMapData.Replace("\r\n", "<br>").Replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;"))</div>
*@
