@model PralnaDemo.Models.FoundViolation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FoundViolation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceToClientId, "ServiceToClientId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ServiceToClientId", String.Empty)
                @Html.ValidationMessageFor(model => model.ServiceToClientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViolationTypeId, "ViolationTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ViolationTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.ViolationTypeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
